@import "tailwindcss";


.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

html {
  font-size: 90%;
  background-color: #030712;
  min-height: 100vh;
}

body {
  font-family: -apple-system, "Segoe UI", Ubuntu, sans-serif;
}
