@import "tailwindcss";


.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

html {
  background-color: #030712;
  min-height: 100vh;
}

body {
  transform: scale(0.9);
  transform-origin: top left;
  width: 111.11%;
  min-height: 111.11vh;
  overflow: auto;
}